body{
    margin: 0px;
    font-family: "roboto", sans-serif;
}

.navbar {
    display: flex;
    background-color: #fffaeb;
    font-weight: 500;
    position: sticky;
    top: 0px;
    z-index: 1;
    height: 57px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 5px 3px rgba(65, 50, 11, 0.05);
    padding-left: 15px;
    padding-right: 30px;
}

.nav-logo {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #e6a226;
    font-size: 19px;
    display: flex;
    width: 150px;
    height: 50px;
}

.nav-register {
    font-size: 14px;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

.nav-signup {
    color: white;
    background-color: #e6a226;
    width: 145px;
    height: 37px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 4px 4px 5px 3px rgba(65, 50, 11, 0.085);
}

.nav-signup:hover {
    background-color: #da9923;
    transition-duration: 100ms;
}

.nav-login {
    color: #333;
    background-color: #FFF;
    border: 1px #d1d1d1 solid;
    align-items: center;
    height: 37px;
    width: 69px;
    border: 1px solid #fffbe9;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 4px 4px 5px 3px rgba(65, 50, 11, 0.05);
}

.nav-login:hover {
    background-color: #d1d1d1;
    transition-duration: 100ms;
}

.landing-main {
    display: flex;
    height: 700px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.landing-container {
    display: flex;
    flex-direction: column;
    height: 203px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.landing-title {
    font-size: 50px;
    font-weight: 700;
    color: black;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0px;
    z-index: 1;
}

#bold-yellow {
    color: #e6a226;
}

.landing-subtitle {
    font-size: 26px;
    color: #6e5b33;
    font-weight: 360;
    margin-top: 20px;
    margin-bottom: 40px;
}

.landing-signup {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    background-color: #e6a226;
    color: white;
    width: 180px;
    border-radius: 5px;
    padding: 11.5px 15.5px;
    margin-right: 0px;
    box-shadow: 4px 4px 5px 3px rgba(65, 50, 11, 0.075);
}

.landing-signup:hover {
    background-color: #da9923;
    transition-duration: 100ms;
}

.landing-login {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #333333;
    background-color: #FFF;
    border: 1px #d1d1d1 solid;
    width: 85px;
    border-radius: 5px;
    padding: 11.5px 17.5px;
    margin-left: 20px;
    box-shadow: 4px 4px 5px 3px rgba(65, 50, 11, 0.05);
}

.landing-login:hover {
    background-color: #d1d1d1;
    transition-duration: 100ms;
}

.main-img1 {
    position: absolute;
    left: 40px;
    bottom: 30px;
    width: 475px;
    height: 323px;
}

.main-img2 {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 475px;
    height: 323px;
}

.landing-section {
    background-color: #e6a226;
    height: 600px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.landing-section-left {
    display: flex;
    align-items: center;
    width: 846px;
    height: 480px;
    justify-content: space-between;
}

.section-img1 {
    width: 500px;
    border-radius: 8px;
}

.section-img2 {
    border-radius: 8px;
}

.landing-section-right {
    display: flex;
    flex-direction: column;
    color: #FFF;
    width: 35%;
}

.landing-section-title {
    font-size: 50px;
    margin-bottom: 0px;
    line-height: 56px;
    font-weight: 700;
}

.landing-section-subtitle {
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
    line-height: 32px;
}

.landing-segment {
    display: flex;
    background-color: #f6f6f6;
    height: 600px;
    margin-top: 0px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0px 300px;
}

.landing-segment-left {
    text-align: center;
    color: #333333;
    width: 450px;
    height: 305px;
    padding-left: 75px;
}

.landing-segment-title {
    font-size: 50px;
    font-weight: 700;
    margin: 0px;
}

.landing-segment-subtitle {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    height: 128px;
}

.segment-img {
    height: 480px;
}

.landing-sector {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 644px;
}

.landing-sector-right {
    text-align: left;
    align-items: center;
    height: 273px;
    width: 427px;
}

.landing-sector-title {
    color: #333333;
    font-size: 50px;
    font-weight: 700;
    width: 600px;
    margin-bottom: 0px;
}

.landing-sector-subtitle {
    color: #333361;
    height: 96px;
    width: 427px;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    line-height: 32px;
}

.landing-slice {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 703px;
    background-color: #f6f6f6;
}

.landing-slice-title {
    margin-top: 80px;
    margin-bottom: 0px;
    font-size: 50px;
    color: #333333;
    height: 56px;
    font-weight: 700;
}

.landing-slice-subtitle {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: 300;
    color: #515151;
    height: 32px;
    width: 1485px;
}

.slice-img {
    margin: auto 0px;
    width: 642px;
}

.landing-end {
    height: 246px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.end-img {
    position: absolute;
    left: 60px;
}

.end-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 471px;
    height: 205px;
}

.landing-end-title {
    color: #333333;
    width: 500px;
    height: 35px;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 26px;
}

.end-register {
    display: flex;
    height: 46px;
    width: 400px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 500;
}

.end-signup {
    margin-top: 2px;
    text-decoration: none;
    text-align: center;
    width: 180px;
    padding: 12px 0px 9px 0px;
    color: white;
    background-color: #e6a226;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 3px rgba(65, 50, 11, 0.075);
}

.end-signup:hover {
    background-color: #da9923;
    transition-duration: 200ms;
}

.end-login {
    margin-top: 2px;
    text-decoration: none;
    text-align: center;
    color: #333333;
    background-color: #FFF;
    border: 1px #d1d1d1 solid;
    width: 82px;
    padding: 12px 0px 9px 0px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 4px 4px 5px 3px rgba(65, 50, 11, 0.05);
}

.end-login:hover {
    background-color: #d1d1d1;
    transition-duration: 200ms;
}